.btnAddProduct, .btnDeleteProduct{

    padding: 5px;
    font-size: 1.2rem;
}

.btnAddProduct> div, .btnDeleteProduct> div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common border and box-shadow  */

.inputBox, .btnAddProduct, .btnDeleteProduct, .cardContainer{

    border: 0.5px solid rgba(128, 128, 128, 0.425);
    box-shadow: rgba(109, 109, 206, 0.13) 0px 13px 27px -5px, rgba(177, 169, 169, 0.082) 0px 8px 16px -8px;
}