.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-height: 360px;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}
.topContainer{
    display: flex;
    flex-direction: row;
    /* height: 70%; */
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;  
    padding: 20px 10px 20px 10px;
}


.bottomInfo
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.bottomInfo>h4
{
   font-size: 16px;
   margin: 0px;
   padding: 0px;
}
.imageContainer>img{
    width: 80%;
    height: 80%;
    object-fit: contain;


}

.btnDeleteProduct{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
}

.btnDeleteProduct:hover{
    background-color: rgba(236, 97, 97, 0.644);
}
.icon{
    color: red
}


@media only screen and (max-width: 600px) {
    .cardContainer{
        width: 80%;
       
   
    }
    .bottomInfo>h4,  .btnDeleteProduct{
        font-size: 14px;
    }
    .btnDeleteProduct{
        width: 100%;
      
    }
  }